:root{
    --squidward-color: #B8D1C8;
}

*{
    margin: 0;
    box-sizing: border-box;
}

.squidward{
    margin: 50px;
    filter: drop-shadow(0 0 5px);
}

.head{
    width: 250px;
    height: 150px;
    background-color: var(--squidward-color);
    border-radius: 50%;
    border: 2px solid ;
    position: relative;
}

.head::before{
    content: "";
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translate(-50%);
    width: 113px;
    height: 70px;
    background-color: #B8D1C8;
    border: 2px solid ;
    border-top: transparent;
}

.hair{
    position: absolute;
    top: 40px;
    left: 20px;
    width: 14px;
    height: 9px;
    background-color: #22584D;
    color:#22584D ;
    border-radius: 50%;
    box-shadow: 20px -15px, 40px 0, 80px -30px, 100px -15px, 200px 30px;
}

.eye{
    z-index: 100;
    position: absolute;
    left: 74px;
    top: 74px;
    width: 50px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid ;
    background-image: 
    linear-gradient(var(--squidward-color) 47%, #000 47%, 
    #000 50%, #FEFCC9 50%);

}

.eye::before{
    content: "";
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translate(-50%);
    width: 15px;
    height: 25px;
    border-radius: 50%;
    background-image: linear-gradient(transparent 20%, #8A1E05 20%);
}

.eye-r{
    left: initial;
    right: 74px;
}

.eyebrow{
    position: absolute;
    top: 58px;
    left: 71px;
    width: 50px;
    height: 20px;
    border-bottom: 4px solid #000;
    border-radius: 50%;
    z-index: 200;
}

.eyebrow-r{
    left: initial;
    top: 51px;
    right: 65px;
    border-bottom:0;
    border-top: 4px solid #000;
    transform: rotate(7deg);
}

.nose{
    position: absolute;
    top: 134px;
    left: 50%;
    transform: translate(-50%);
    width: 50px;
    height: 100px;
    background-color: var(--squidward-color);
    border: 2px solid;
    border-radius: 50%;
    z-index: 50;
}

.mouth{
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translate(-50%);
    width: 180px;
    height: 40px;
    background-color: var(--squidward-color);
    border: 2px solid;
    border-radius: 20px;
}

.mouth::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 32px;
    background-color: var(--squidward-color);
    width: 113px;
    height: 50px;
}

.mouth::after{
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 135px;
    height: 2px;
    background-color: #000;
}

.mouth-end{
    position: absolute;
    top: 9px;
    left: 19px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-left: 3px solid #000;
}

.mouth-end-r{
    left: initial;
    right: 19px;
    border-right: 3px solid #000;
    border-left: 0;
}