*{
    margin: 0;
    box-sizing: border-box;
}

.fungus{
    width: max-content;
    margin: 80px;
    position: relative;
    filter: drop-shadow(0 0 4px);
}
.head{
    width: 260px;
    height: 200px;
    background-color: #c53b4a;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.head::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    background-color: #fff;
    border-radius: 50%;
    color: #fff;
    box-shadow: 140px 0, -140px 0;
}
.face{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%);
    width: 155px;
    height: 90px;
    background-color: #fadac1;
    border-radius: 50% 50% 50% 50% / 26% 26% 30% 30% ;
}
.eye{
    width: 14px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 40px;
    box-shadow: 61px 0;
}
.eye::before{
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 4px;
    height: 10px;
    background-color: #D2CFD6;
    border-radius: 10px;
    box-shadow: 61px 0 #D2CFD6;
}
