*, ::after, ::before{
    margin: 0;
    box-sizing: border-box;
}

.panda{

    width: 200px;
    height: 150px;
    border: 6px solid ;
    border-radius: 50%;
    margin: 80px;

    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ears{
    width: 70px;
    height: 70px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -18px;
    z-index: -1;
    box-shadow: -150px 0px;
}
